.element {
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    background: #FFFFFF;
}

@media screen and (max-width: 600px) {
    .element {
        margin-bottom: 20px;
    }

    .element:last-child {
        margin-bottom: 0;
    }
}