@media screen and (min-width: 900px) {
    .elements {
        display: grid;
        grid-template-columns: repeat(3, 282px);
        grid-template-rows: repeat(2, 361px);
        row-gap: 20px;
        column-gap: 17px;
        width: 880px;
        margin: 46px auto 67px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .elements {
        display: grid;
        grid-template-columns: repeat(2, 282px);
        grid-template-rows: repeat(3, 361px);
        row-gap: 20px;
        column-gap: 17px;
        width: 581px;
        margin: 46px auto 67px;
    }
}

@media screen and (max-width: 600px) {
    .elements {
        display: flex;
        flex-direction: column;
        width: 282px;
        margin: 36px auto 48px;
    }
}