.popup__close-button {
    background-size: cover;
    background: url(../../../images/CloseIcon.svg);
    background-color: rgba(0, 0, 0, 0);
    border: none;
    padding: 0;
    position: absolute;
    opacity: 1;
    transition: opacity 1s ease-out;
}

.popup__close-button:hover {
    opacity: 0.6;
    transition: opacity 1s ease-out;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .popup__close-button {
        width: 32px;
        height: 32px;
        top: -40px;
        right: -40px;
    }
}

@media screen and (max-width: 600px) {
    .popup__close-button {
        width: 20px;
        height: 20px;
        background-size: 20px 20px;
        top: -36px;
        right: 0;
    }
}
