.profile {
    margin: 0 auto;
    display: flex;
}

@media screen and (min-width: 900px) {
    .profile {
        width: 880px;
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
    .profile {
        width: 581px;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        width: 282px;
        flex-direction: column;
    }
}